<aside id="sidebar" class="sidebar">
    <div class="sidebar-inner">
        <section class="site-overview sidebar-panel sidebar-panel-active">
            <div class="site-overview">
                <div class="sidebar-sticky sticky">
                    <div>
                        <div class="author__avatar">
                            <img itemprop="image" src="/img/head.jpg" alt="oOoOo">
                        </div>
                        <div class="author__content">
                            <h3 class="author__name" itemprop="name">n_SSIW_I</h3>
                            <p class="author__bio" itemprop="description">斯人若彩虹、遇上方知有</p>
                        </div>

                        <div class="author__urls-wrapper">
                            <button class="btn btn--inverse">Follow</button>
                            <ul class="author__urls social-icons">
                                <li>
                                    <a href="https://github.com/Lon9z" target="_blank" title="GitHub">GitHub</a>
                                </li>
                                <li>
                                    <a href="https://126.com" target="_blank" title="blog">Email</a>
                                </li>
                                <li>
                                    <a href="https://www.baidu.com" target="_blank"
                                       title="SpringCloud">BAIDU</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</aside>
