<footer class="footer">
    <div class="footer-inner">
        <div class="copyright" style="display: inline-block">&copy; 2020 &mdash; <span
                itemprop="copyrightYear">2020</span>
            <span class="author">BlogSystem</span>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://github.com/Lon9z" target="_blank">Github</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="http://localhost:8081/login" target="_blank">博客管理系统</a>
        </div>
    </div>
</footer>
